# Apollo 2.5.1 没有对应 quick-start 镜像，2.5.0 是目前最新的版本化标签。
APOLLO_IMAGE=nobodyiam/apollo-quick-start:2.5.0
APOLLO_MYSQL_VERSION=8.0
APOLLO_MYSQL_PORT=13306
APOLLO_MYSQL_PASSWORD=dev_apollo_mysql
APOLLO_PORTAL_PORT=8070
APOLLO_ADMIN_PORT=8090
APOLLO_JAVA_OPTS=-Xms256m -Xmx768m -Xmn128m
TZ=Asia/Shanghai
